/* font dan jarak frame untuk semua tulisan di website */
*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* ukuran sidebar & posisi konten di dalamnya*/
.sidebar {
    background-color: #051b39;
    width: 280px;
    height: 800px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    position: fixed;
}

/* sidebar shadow */
.sidebar {
    width: 250px; /* Sesuaikan lebar sidebar sesuai kebutuhan Anda */
    box-shadow: 2px 2px 5px #123356; /* Mengatur bayangan */
    /* padding, margin, dan properti lainnya sesuaikan dengan desain Anda */
  }

/* bagian foto profil */
.foto-profil img{
    width: 150px; /* Atur lebar gambar sesuai kebutuhan Anda */
    height: 150px; /* Atur tinggi gambar sesuai kebutuhan Anda */
    border-radius: 50%; /* Mengatur radius border menjadi 50%, membuat lingkaran */
    border: 2px;
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    border: 3px solid grey;
}

/* bagian h1 nama  */
.nama h1 {
    color: white;
    font-size: 22pt;
    margin-top: 10%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}


/* icon sosmed */
.icon{
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    padding-top: 7%;
    margin-left: 3%;
    margin-bottom: 10%;
}

.icon{
    margin-top: 5%;
    padding: 12px 10px;
    border-radius: 12px;
    width: 20px;

}

/* hover buat ikon */
.icon:hover {
    background: #279EFF;
    transition: all ease-in .2s;
}

/* tulisan sidebar list item */
.sidebar .list-item .deskripsi {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: white;
}

.sidebar .main .list-item .ikon {
    margin-right: 12px;

}

/* bentuk over sidebar item */
.sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    width: 212px;
    box-sizing: border-box;
}

/* hover buat sidebar item */
.sidebar .main .list-item:hover {
    background: #279EFF;
    transition: all ease-in .2s;
}
/* /copyright */
.footer p{
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    font-size: 9pt;
    margin-top: 50%;
}
/* /copyright */
.biru{
 color: #279EFF;
 font-size: 9pt;}



 .headline .biru{
    color: #279EFF;
    font-size: 20pt;

 }
 .headline{
    color:  #1773be;
    font-size: 20pt;
    z-index: -1; 
    justify-content: flex-start;
    position: absolute;
    top: 1000%; /* Menggeser elemen ke bawah (nilai dapat disesuaikan) */
    left: 20%;
    align-items: flex-start;
    font-size: 20pt;

 }

 .headline .garis{
    width: 80px;
    height: 2px;
    background-color: #279EFF;
    margin-top: 1%;
 }

 /* isi tulisan di website bagian perkenalan */
.t h1{
    color: #1773be;
    padding-top: 0%;
    font-size: 16pt;
    padding-bottom: 1%;
    justify-content: flex-start;
    align-items: flex-start;
 }  

 .headline .t p{
    color: black;
    font-size: 15pt;
    top: 3%;
    margin-right: 3%;
    text-align: justify;
    font-size: 14.5pt;
 }

 /* format foto bagin isi */

 .isi .gambar {
    width: 30%;
    height: 30%;
    margin-top: 3%;
    flex: 1;
    float: left; 
    margin-right: 70px;
}

 /* format tulisan bagian isi */
 .teks-container .paraf{
    margin-bottom: 16px;
    color: #1773be;
    padding-top: 3%;
    font-size: 16pt;
 
 } 

 .teks-container p1{
    color: black;
    font-size: 14pt;
    padding-top: 2%;
    padding-bottom: 4%;
 } 
 .list ul li{
   list-style-type: none;
   padding-left: 70px;
   color: black;
   font-size: 14pt;
   padding-top: 1%;
   text-align: justify;
}

.fact {
    color:  #1773be;
    font-size: 20pt;
    z-index: -1; 
    justify-content: flex-end;
    position: absolute;
    top: 100%; /* Menggeser elemen ke bawah (nilai dapat disesuaikan) */
    left: 20%;
    align-items: flex-end;
    font-size: 16pt;
    margin-top: 7%;
}

.fact p{
    font-size: 14pt;
    color:black;
    margin-top: 2%;
    font-weight: normal;
    margin-right: 3%;
    margin-top: 1%;
}

/* bagian penjelasan fact */
.des {
    display: flex; /* Menggunakan flexbox untuk menyusun gambar secara horizontal */
    justify-content: space-around;/* Mengatur ruang di antara gambar-gambar */
    display: flex;
    padding-top: 0.5%;
}

.des img {
    width: 5%;
    height: 5%;
    margin: 5px; 
    padding-right: 4%;
}

.container {
    display: flex; /* Menggunakan flexbox untuk menyusun kolom secara horizontal */
  }
  
  .column {
    flex: 1; /* Menggunakan flex untuk meratakan lebar kolom */
    padding: 20px; /* Menambahkan padding di dalam kolom */
    border:none; /* Menambahkan border untuk memisahkan kolom */
    box-sizing: border-box; /* Memastikan border dan padding tidak menambah lebar kolom */
    text-align: center;
    padding-right: 6%;
    height: 100px;
  }
  .column p{
    font-size: 14pt;
    text-align:center;
    margin-top: 3%;
  }


p{
    color: black;
    font-size: 20pt;
    margin-top: 3%;
    margin-bottom: 3%;
 }
 .headline{
    color:  #1773be;
    font-size: 20pt;
    z-index: -1; 
    justify-content: flex-start;
    position: absolute;
    top: 1%; /* Menggeser elemen ke bawah (nilai dapat disesuaikan) */
    left: 20%;
    align-items: flex-start;
    font-size: 20pt;
    margin-bottom: 3%;
 }
 .headline .garis{
    width: 50px;
    height: 2px;
    background-color: #279EFF;
    margin-top: 1%;
    margin-bottom: 1%;
 }



/* bagian education */

 /* headline pada edu */
 .education .garis{
    color: #1773be;
    margin-top: 6%;
    margin-bottom: 1px;
    margin-left: 20%;
 }

 /* tulisan pembuka */
 .education .tulisan p{
    color:black;
    font-size: 14pt;
    font-weight: normal;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 1px;
   text-align: justify;
   margin-right: 2%;
 }

 /* format foto bagin isi */

 .isi .kampus {
    width: 40%;
    height: 40%;
    flex: 1;
    float: left; 
    margin-right: 3%;
    margin-left: 20%;
    margin-top: 1px;
}

 /* format tulisan bagian isi */
 .teks p{
    margin-bottom: 10px;
    color: #1773be;
    padding-top: 3%;
    font-size: 16pt;
    padding-top: 10%;
    padding-bottom: 1%;
 } 

 .teks p1{
    color: black;
    font-size: 14pt;
    font-weight: normal;
    padding-top: 1%;
    margin-right: 45%;
    text-align: justify;
 } 



 /* bagian portofolio  */

 .porto{
    color:  #1773be;
    font-size: 20pt;
    z-index: -1; 
    justify-content: flex-start;
    position: absolute;
    top: 10%; /* Menggeser elemen ke bawah (nilai dapat disesuaikan) */
    left: 20%;
    align-items: flex-start;

 }

 .porto .text{
    margin-top: 2390px;
    justify-content:center;
 }

 .porto p{
    color: black;
    margin-top: 2%;
    font-size: 14pt;
    font-weight: normal;
 }

 /* tabel di buat sejajarin foto */
 .porto .galery {
    display: grid;
    width: 150px;
    height: 100px;
    /* jgn dirubah; */ 
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 5%;
    padding-left: 44%;
    margin-right: 1%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
 }

 .porto .galery img {
    width: 370px;
    height: 270px;
}

 p {
    margin-top: 1%;
    color:black;
    font-size: 10pt;
}


/* bagian footer */
  .footercontainer{
    background-color: #051b39;
    width: 95.8%;
    padding: 40px 30px 20px;
    margin-top: 80%;
  }

.sosmed{
    display: flex;
    justify-content: space-around;
    margin-left: 27%;
    max-width: 50%; 
    margin-left: 31%;
}


.sosmed img{
    width: 30px;
    height: 30px;
    margin: 30px;
    align-items: center;
    margin-right: 3%; 
}  

.footernav{
    margin: 20px ;
}

.footernav ul{
    display: flex;
    justify-content: center;  
    list-style-type: none;
    margin-left: 20%; 
}

/* tulisan footer */
.footernav ul li a{
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 12pt;
    opacity: 0.7;
    transition: 0.5s;
 
}

.footernav ul li a:hover{
    opacity: 1;
    color:#279EFF ;
}