*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* ukuran sidebar & posisi konten di dalamnya*/
.sidebar {
    background-color: #051b39;
    width: 260px;
    height: 800px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    position: fixed;
}

/* sidebar shadow */
.sidebar {
    width: 250px; /* Sesuaikan lebar sidebar sesuai kebutuhan Anda */
    box-shadow: 2px 2px 5px #123356; /* Mengatur bayangan */
    /* padding, margin, dan properti lainnya sesuaikan dengan desain Anda */
  }

/* bagian foto profil */
.foto-profil img{
    width: 150px; /* Atur lebar gambar sesuai kebutuhan Anda */
    height: 150px; /* Atur tinggi gambar sesuai kebutuhan Anda */
    border-radius: 50%; /* Mengatur radius border menjadi 50%, membuat lingkaran */
    border: 2px;
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    border: 3px solid grey;
}

/* bagian h1 nama  */
.nama h1 {
    color: white;
    font-size: 22pt;
    margin-top: 10%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}


/* icon sosmed */
.icon{
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    padding-top: 7%;
    margin-left: 3%;
    margin-bottom: 10%;
}

.icon{
    margin-top: 5%;
    padding: 12px 10px;
    border-radius: 12px;
    width: 20px;

}

/* hover buat ikon */
.icon:hover {
    background: #279EFF;
    transition: all ease-in .2s;
}

/* tulisan sidebar list item */
.sidebar .list-item .deskripsi {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: white;
}

.sidebar .main .list-item .ikon {
    margin-right: 12px;

}

/* bentuk over sidebar item */
.sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    width: 212px;
    box-sizing: border-box;
}

/* hover buat sidebar item */
.sidebar .main .list-item:hover {
    background: #279EFF;
    transition: all ease-in .2s;
}
/* /copyright */
.footer p{
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    font-size: 9pt;
    margin-top: 80%;
}
/* /copyright */
.biru{
 color: #279EFF;
 font-size: 9pt;}


 .headline{
    color:  #1773be;
    font-size: 20pt;
    z-index: -1; 
    justify-content: flex-start;
    position: absolute;
    top: 5%; /* Menggeser elemen ke bawah (nilai dapat disesuaikan) */
    left: 20%;
    align-items: flex-start;
    font-size: 20pt;

 }

 .headline .garis{
    width: 120px;
    height: 2px;
    background-color: #279EFF;
    margin-top: 1%;
    margin-bottom: 3%;
  
 }

 .headline .tulisan p{
    color:  #1773be;
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
 }


 .galery img{
    width: 450px;
    height: 300px;
    /* jgn dirubah; */
    margin-left: 1%; 
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 5px;
    padding-left: 5%;
    margin-right: 1%;
 }

 p {
    color:black;
    font-size: 10pt;
}

